<h1>Register your name to start!</h1>
<form action="/name" method="post">
  <div>
    <label for="name">Player:<br></label>
    <input type="text" id="name" name="player_name">
  <input type="submit" value="Submit">
  </div>
</form>
